on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install msrv toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.56"
          profile: minimal
          override: true

      - name: Publish
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{secrets.CRATES_IO_API_TOKEN}}
